.searchItem:hover{
    background-color: lightgrey;
    text-decoration: underline;
  }
  
  .foodItem:hover{
    text-decoration: underline;
    cursor: pointer;
  }

  body{
    font-family: 'Quicksand', sans-serif;
  }